* {
    font-family: "Titillium Web", sans-serif;
}

h1 {
    color: rgb(46, 4, 119); 
}

h2 {
    color: rgb(60, 8, 150); 
}

h3 {
    color: rgb(12, 1, 32); 
}

p {
    color: rgb(93, 0, 255); 
}

.section {
    background-image: linear-gradient(to left, rgb(218, 197, 246), rgb(178, 147, 220)); 
    border: 3px solid rgb(134, 37, 207); 
    border-radius: 10px; 
    padding: 5px 15px; 
    margin: 15px 0px; 
}